.containerCustom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100vh;
  background-color: #1c152a;
}


.overlayCustom {
  background-color: rgba(28, 21, 42, 0.7);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 90%; /* Reduce width for better fit on mobile */
  max-width: 365px;
  max-height: 510px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap; /* Ensure images wrap on small screens */
  margin-bottom: 30px;
}

.dynamicImageSize {
  width: 100px;
  height: auto;
  max-width: 150px; /* Set max width */
  max-height: 200px; /* Limit height for mobile */
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  object-fit: cover; /* Maintain aspect ratio */
}

.selectedCard {
  border-color: #a17bdc;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleCustom {
  font-size: 30px; /* Adjust for mobile */
  color: white;
  margin-bottom: 20px;
}

.subtitleCustom {
  font-size: 18px; /* Adjust for mobile */
  color: white;
  margin-bottom: 20px;
}

.customImageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.uploadButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #a17bdc;
  border-radius: 10px;
  color: white;
  font-family: "Cinzel Decorative", sans-serif;
  border: none;
  cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .dynamicImageSize {
    width: 80px;
    max-width: 100px;
    max-height: 130px; /* Limit height for mobile */
  }

  .titleCustom {
    font-size: 24px;
  }

  .subtitleCustom {
    font-size: 16px;
  }

  .overlayCustom {
    padding: 15px;
    width: 90%;
  }

  .deleteIcon {
    font-size: 16px;
  }
}
