.singleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Start content closer to the top */
  height: 100vh; /* Full viewport height */
  padding-top: 60px; /* Adjust padding as needed */
  background-size: cover;
  background-position: center;
}

.singleCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.singleCardContainer {
  width: 35vw;
  aspect-ratio: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 70px;
}

.singleCardImageWrapper {
  position: relative;
  width: 85%;
  aspect-ratio: 2 / 3;
  border-radius: 5px;
  overflow: hidden;
}

.singleCardImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.singleReversed {
  transform: rotate(180deg);
}

.singleDescriptionWrapper {
  align-items: center;
  width: 80vw;
  text-align: center;
}

/* Default font sizes */
.singleCardName {
  font-size: 32px;
  color: #ffffff;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  margin: 0;
}

.singleCardDescription {
  font-size: 26px;
  color: #ffffff;
}

/* Adjust font sizes for larger screens */

@media (min-width: 900px) {
  .singleCardName {
    font-size: 40px;
  }

  .singleCardDescription {
    font-size: 36px;
  }
}

/* Adjust font sizes for very large screens */

/* Adjust font sizes for smaller mobile screens */
@media (max-width: 600px) {
  .singleCardName {
    font-size: 24px;
  }

  .singleCardDescription {
    font-size: 18px;
  }
}
