.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
}

.singleCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-bottom: 20px; /* Space between card and button */
}

.cardWrapper {
  position: relative;
  width: 35vw;
  max-width: 300px;
  aspect-ratio: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front {
  z-index: 1;
}

.reversed {
  transform: rotate(180deg);
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px; /* Space between card and description */
  margin-bottom: 20px; /* Space between description and button */
  text-align: center;
}

.cardName {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Cinzel Decorative", serif;
}

.cardDescription {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  max-width: 80%; /* Restrict width for readability */
}
